@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-gray-50: hsl(265, 55%, 96%);
    --color-gray-100: hsl(265, 19%, 88%);
    --color-gray-200: hsl(265, 7%, 70%);
    --color-gray-300: hsl(265, 6%, 66%);
    --color-gray-400: hsl(265, 4%, 57%);
    --color-gray-500: hsl(265, 3%, 53%);
    --color-gray-600: hsl(265, 4%, 42%);
    --color-gray-700: hsl(265, 4%, 31%);
    --color-gray-800: hsl(276, 5%, 20%);
    --color-gray-900: hsl(280, 5%, 13%);
    --color-primary-50: #c8b3ce;
    --color-primary-100: #a07aaa;
    --color-primary-200: #884c97;
    --color-primary-300: #971ab6;
    --color-primary-400: #732392;
    --color-primary-500: #5a097a;
    --color-primary-600: #480264;
    --color-primary-700: #3d0264;
    --color-success-100: #a2f0bc;
    --color-success-500: #12bd4b;
    --color-error-100: #f1acac;
    --color-error-500: #e11d48;
    --color-pending-500: #177cbe;
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-8: 2rem;
    --size-12: 3rem;
    --size-16: 4rem;
    --size-20: 5rem;
    --size-40: 10rem;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-darker: 240 4.8% 85.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --markdown-p-color: var(--color-gray-500);
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --success: 120 100% 50%;
    --success-foreground: 210 40% 98%;
    --pending: 204, 78%, 42%;
    --pending-foreground: 204, 78%, 42%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --markdown-p-color: var(--color-gray-200);
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --pending: 204, 78%, 42%;
    --pending-foreground: 204, 78%, 42%;
    --success: 120 63% 31%;
    --success-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}
.asd {
  color: hsl(204, 78%, 42%);
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  #notifications > .alertComp {
    animation: slide-in-from-right 700ms ease-out;
  }
  @keyframes slide-in-from-right {
    0% {
      opacity: 0;
      transform: translateX(20%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@layer components {
  .three-d-title {
    @apply text-gray-800 dark:text-white text-center font-bold text-4xl md:text-5xl;
  }
  .markdown-content > * {
    margin-bottom: 1rem;
  }
  .markdown-content > h1 {
    border-bottom: 2px solid var(--color-gray-600);
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    margin-block: 1.5rem;
  }
  .dark .markdown-content :is(p, li) {
    color: var(--markdown-p-color);
  }
  .markdown-content > :is(ul, ol) {
    list-style-type: unset;
    margin-left: 1.5rem;
  }
  .markdown-content a {
    color: rgb(60, 116, 238);
    transition: all 0.2s ease;
  }
  .dark .markdown-content a {
    color: rgb(178, 200, 248);
  }
  .markdown-content a:hover {
    color: rgb(3, 69, 155);
  }
  .dark .markdown-content strong {
    color: white;
  }
  .btnMimick {
    display: block;
    animation: bg-fade 0.6s ease-in-out forwards;
  }
  @keyframes bg-fade {
    0% {
      @apply text-sm;
    }
    30% {
      @apply bg-transparent text-sm translate-x-1;
    }
    100% {
      @apply bg-transparent text-xl translate-x-0;
    }
  }

  .accordion-by-state {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.6s ease-out;
  }

  .accordion-by-state.open {
    max-height: 1000px;
    padding: 0 1rem 1rem;
  }

  /* ================= Skeleton ================= */

  .skeleton {
    opacity: 0.9;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  .skeleton p,
  .skeleton span {
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.125rem;
  }
  .skeleton p:last-of-type {
    width: 70%;
  }
  .skeleton span {
    width: 10%;
  }
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(180, 32%, 75%);
    }
    100% {
      background-color: hsl(180, 32%, 85%);
    }
  }
}
