.posts {
  width: 90%;
  max-width: 60rem;
  margin: var(--size-8) auto;
}

.posts h1 {
  color: var(--color-primary-300);
  text-shadow: #5e204bb3 0.2rem 0.2rem;
  text-align: center;
  font-weight: 700;
  font-size: var(--size-8);
}

@media (min-width: 768px) {
  .posts h1 {
    font-size: var(--size-16);
  }
}
