.post {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-grey-900);
  border-radius: 0.5rem;
  text-align: center;
}
.post a {
  color: var(--color-grey-100);
}
.image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}
.content {
  padding: var(--size-4);
}
.content h2 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
}
.content time {
  font-style: italic;
  color: var(--color-grey-300);
}
.content p {
  line-height: var(--size-6);
}
