.notification {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.5rem 10%;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
}
.notification h2 {
  margin: 0;
  font-size: 1.25rem;
  color: white;
}
.notification p {
  margin-block: 0.2rem;
}
.pending {
  background-color: var(--color-pending-500);
}
.success {
  background-color: var(--color-success-500);
}
.error {
  background-color: var(--color-error-500);
}
